<div class="container mt-5">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
          <div class="card">
            <div class="card-body text-center">
              <span class="title">PRODUCT LIST</span>
              <button class="btn btn-success float-end" routerLink="/create-product">NEW</button>
              <table *ngIf="listPodcuts.length > 0" class="table table-striped mt-4">
                <thead>
                  <tr>
                    <th scope="col">PRODUCT</th>
                    <th scope="col">Category</th>
                    <th scope="col">Localization</th>
                    <th scope="col">Price</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let produc of listPodcuts">
                    <td>{{produc.name}}</td>
                    <td>{{produc.category}}</td>
                    <td>{{produc.localization}}</td>
                    <td>{{produc.prize}}</td>
                    <td>
                      <i class="fa fa-solid fa-pen-to-square text-primary"></i>
                      <i (click)="deleteOne(produc._id)" class="fa fa-solid fa-trash text-danger"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
              <h5 *ngIf="listPodcuts.length == 0" style="text-align: start; margin-top: 10px;">no ha nada que mostrar</h5>
            </div>
          </div>
      </div>
    </div>
</div>
